body{
    background-color:white;
    
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  min-height: 60px; /* Or any desired height */
  min-width: 90px;
  display: block;
}
